/* Import Local SCSS Files */
@import "reset", "variables", "fonts";

/* Responsive for Tablet */
@media (max-width: 768px) and (max-width: 1024px) {
  /* ========== Common CSS ========== */
  section:not(.front_slider, .category_class),
  footer {
    padding: 35px 10px;
  }
  [class*="inner"] {
    width: 100%;
  }

  /* Header */
  header {
    .header_inner {
      padding: 0 10px;
      .search {
        width: 300px;
      }
    }
    /* Mega Navi */
    .mega_navi {
      .mega_navi_inner {
        padding: 20px;
      }
    }
  }

  /* Footer */
  footer {
    .footer_inner {
      padding: 30px 20px;
      .lnb_wrap {
        flex-direction: column;
        gap: 30px;
        .footer_slogan {
          width: 100%;
        }
        .lnb {
          width: 100%;
        }
      }
      .company_wrap {
        flex-direction: column-reverse;
        gap: 20px;
      }
    }
  }

  /* ========== Front Page : index.html ========== */
  /* Section : Front Slider */
  .front_slider {
    .front_slider_items {
      .front_slider_wrap {
        width: 100% !important;
        height: 300px !important;
        padding: 0 20px;
        .desc {
          h1 {
            font-size: 26px !important;
          }
        }
        .pic {
          img {
            height: 250px !important;
          }
        }
      }
    }
  }

  /* Section : category_shortcut */
  .category_shortcut {
    .category_shortcut_inner {
      .category_shortcut_items {
        gap: 10px;
        .category_shortcut_item {
          height: auto;
          padding: 10px 0;
          span {
            font-size: 14px;
          }
        }
      }
    }
  }

  /* Section : best_class */
  .best_class {
    .best_class_content {
      .best_class_wrap {
        flex-direction: column-reverse;
        .invite_banner {
          display: none;
        }
        .invite_banner_tablet {
          display: block;
          text-align: center;
          background: #aae8f3;
          border-radius: 5px;
        }
        .best_class_items_wrap {
          .best_class_items {
            .best_class_item {
              .overview {
                h3 {
                  overflow: hidden;
                  white-space: normal;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                }
              }
            }
          }
        }
      }
    }
  }

  /* Section : early_bird */
  .early_bird {
    .early_bird_content {
      .early_bird_banner {
        padding: 20px 50px;
      }
    }
  }

  /* Section : slogan */
  .slogan {
    padding: 35px !important;
    .slogan_content {
    }
  }

  /* Section : tip_tech */
  .tip_tech {
    .tip_tech_content {
      .tip_tech_wrap {
        .tip_tech_items {
          .tip_tech_item {
            .thum {
              display: none;
            }
            .tip_tech_info {
              .tip_tech_outline {
                h3 {
                  font-size: 16px;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  word-break: break-all;
                }
              }
            }
          }
        }
      }
    }
  }

  /* ========== Category Main Page : class_category.html ========== */
  .category_class {
    .category_class_inner {
      padding: 0 10px;
      .category_class_wrap {
        .category_class_items {
          // Slick 아이템 간격 조절
          .slide-list {
            margin: 0 -5px;
          }
          .slick-slide {
            margin: 0 5px;
          }
        }
      }
    }
  }

  /* ========== Take Course Page : take_course.html ========== */
  .take_course {
    .take_course_inner {
      flex-direction: column;
      .cart_wrap {
      }
      .payment {
      }
    }
  }

  /* ========== Class Detail Page : class_detail.html ========== */
  section.class_detail_image {
    .class_detail_image_inner {
      padding: 0 30px;
      .heading {
        h1 {
          font-size: 24px;
        }
        p {
          font-size: 16px;
        }
      }
      .pic {
        width: auto;
        height: 250px;
        img {
        }
      }
    }
  }
  section.class_detail_full {
    .class_detail_full_inner {
      .class_detail_full_content {
        flex-direction: column-reverse;
        .class_detail_info {
        }
        .sticky {
          .class_detail_sidebar {
            position: static;
            width: 100%;
            .class_required_info {
              .class_detail_sidebar_wrap {
                .overview {
                  .class_price {
                    justify-content: end;
                    .price_current {
                      margin-right: 40px;
                    }
                    .sale {
                      margin-right: 20px;
                    }
                  }
                }
              }
              .class_detail_sidebar_wrap.mentor_summary {
                justify-content: flex-start !important;
                gap: 50px;
              }
            }
          }
        }
      }
    }
  }
}
