/* Setting Variables : Font Family */
$primary_kr: "Noto Sans KR", sans-serif;
$secondary_kr: "SpoqaHanSansNeo-Regular";
$primary_en: "Raleway", sans-serif;
$bs_font: bootstrap-icons;

/* Setting Variables : Text Color */
$dark_black: #333333; // 문서 본문 전체 텍스트 색상
$dim_black: #555555;
$silver_black: #777777;
$light_black: #999999;
$dark_gray: #bdbdbd;
$dim_gray: #dddddd;
$silver_gray: #eeeeee; // 입력요소(input) 보더 색상
$light_gray: #f5f5f5;
$cloudy_gray: #f9f9f9;

/* Setting Variables : Object Color */
$royalblue: #006be5;
$orangered: #fd5631;
$orange: #ffd912;
$crimson: #ed2040;
$forestgreen: #2ecc71;
$turquoise: #00d2d3;
$tomato: #ff4c79;
$white: #ffffff;
$black: #000000;
